[Unit]
Description=mcserver
After=network-online.target

[Service]
WorkingDirectory=/srv/mc
ExecStart=/bin/bash /srv/bash/start.sh
ExecStop=/bin/bash /srv/bash/stop.sh
Restart=always
KillMode=process
TimeoutStartSec=180
TimeoutStopSec=180
Type=forking

[Install]
WantedBy=multi-user.target